/* Custom Body styles */
/* ----------------------------------------------------------*/

body {
	font-family: 'Open Sans', sans-serif;
}

/* Custom Home styles */
/* ----------------------------------------------------------*/

.home h1 {
	font-size: 42px;
	font-weight: 400;
}

/* Tags */
.posts .post-tags {
  	display: block;
  	font-size: 15px;
}

.label-tags {
	background-color: #f0ad4e;
	opacity: 0.7;
}

/* Categories */
.posts .post-categories {
  	font-size: 15px;
}

.label-categories {
	margin-right: 10px;
	color: #428bca;
	opacity: 0.7;
}